@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: 1240px;
  margin: 0 auto;
}

@mixin mobile {
  @media (max-width: 695px) {
    @content;
  }
}