@import '../styles/mixin';
@import '../styles/App';

.modal {
  width: 100vw;
  height: 100vh;
  padding: 0 1rem;
  background-color: rgba(0,0,0,0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  @include flex-center;

  .modal-container {
    background: #fff;
    position: relative;
    padding-bottom: 0.6rem;
    width: 45%;
    min-width: 300px;
    max-width: 600px;
    min-height: 152px;
    @include mobile {
      width: 100%;
      max-width: 315px;
    }

    .close {
      position: absolute;
      right: -10px;
      top: -10px;
      font-weight: 700;
      font-size: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background:#c8d63c;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .modal-content {
      @include flex-center;
      flex-direction: column;

      span {
        background: #474971;
        padding: 10px 20px;
        color: #fff;
        width: 100%;
        strong {
         color: #c8d63c;
        }
      }
      
      form {
        @include flex-center;
        flex-direction: column;

        input {
          margin: 1rem 0 0.5rem;
          outline: none;
        }
  
        select {
          margin-bottom: 0.8rem;
        }

      }

    }
  }
}